<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  </head>
  <body>
  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">My Favorites</li>
          {% block menu %}{% endblock %}
        </ul>
      </div>
    </div>
  </header>
<!--grid-x grid-padding-x grid-padding-y-->
  <div class="grid-container fluid">
    {% block content %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
  <script>
    $(document).foundation();
  </script>

  </body>
</html>